.hamburger{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    top: 20px;
    right: 30px;
    height: 21px;
    cursor: pointer;
    span{
        background: #151812;
        width: 30px;
        height: 3px;
    }
    span.long{
        width: 36px;
    }
}