@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .promo{
        padding-top: 140px;
    }
    .pannel{
        display: none;
    }
    .menu{
        &__list{
            padding: 100px 20px 50px 60px;
        }
    }
    .about{
        &__wraper{
            grid-template-columns: 400px 470px;
            row-gap: 80px;
        }
        &__skills{
            grid-template: repeat(2,minmax(116px,auto))/repeat(2,200px);
            row-gap: 50px;
        }
        &__skill{
            grid-template-columns: 50px 170px;
            column-gap: 3px;
        }
    }
    .education{
        margin-top: 120px;
        &__items{
            column-gap: 60px;
        }
    }
    .skills{
        &__items{
            grid-template-columns: repeat(auto-fit, 270px);
        }
    }
    .percent{
        &__items{
            grid-template-columns: repeat(3,250px);
        }
    }
    .works{
        &__items{
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .plans, .mac {
                grid-row: unset;
                grid-column: unset;
                img{
                    width: 280px;
                    height: 280px;
                }
            }
        }
    }
    .contacts{
        &__wrapper{
            grid-template-columns: 350px 555px;
        }
        &__block{
            &_form{
                grid-template-columns: repeat(2,250px);
            }
            &_footer{
                grid-template-columns: 220px 250px;
            }
        }
    }
}
@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .promo{
        h1{
            font-size: 35px;
            line-height: 45px;
        }
    }
    .about{
        padding-top: 70px;
        &__skills{
            grid-template: repeat(2,minmax(116px,auto))/repeat(2,180px);
            column-gap: 30px;
            row-gap: 15px;
        }
        &__skill{
            grid-template-columns: 50px 140px;
        }
        &__wraper{
            grid-template-columns: 280px 370px;
            grid-template-rows: none;
            row-gap: 30px;
        }
    }
    .education{
        margin-top: 80px;
        &__items{
            grid-template-columns: repeat(2,300px);
            justify-content: center;
        }
        &__block{
            &_text{
                width: 250px;
            }
        }
    }
    .skills{
        padding-top: 100px;
    }
    .percent{
        &__items{
            grid-template-columns: repeat(3,230px);
            column-gap: 30px;
        }
    }
    .price{
        &__blocks{
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
            margin-top: 40px;
        }
        &__block{
            &_item{
                &:before{
                    left: -5px;
                    z-index: -1;
                }
            }
        }
    }
    .contacts {
        &__wrapper{
            grid-template-columns: 500px;
            justify-content: center;
        }
        &__photo{
            display: none;
        }
        &__block{
            text-align: center;
            &_subtitle{
                &:before{
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &_footer{
                grid-template-columns: 220px 280px;
            }
            &_form{
                justify-content: center;
            }
            &_icons{
                display: flex;
                justify-content: center;
                img{
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
        }
        .divider{
            margin: 0 auto;
            margin-top: 25px; 
        }
    }
}
@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .promo{
        h1{
            font-size: 30px;
            width: 400px;
            line-height: 35px;
        }
    }
    .menu{
        &__close{
            top: 10px;
            right: 25px;
            span{
                height: 30px;
            }
        }
        &__list{
            padding: 90px 54px 50px 75px;
        }
        &__link{
            font-size: 17px;
        }
    }
    .about{
        padding-top: 40px;
        &__title{
            font-size: 15px;
        }
        &__subtitle{
            font-size: 25px;
        }
        &__text{
            font-size: 12px;
        }
        &__wraper{
            grid-template-columns: 200px 285px;
            row-gap: 40px;
        }
        &__skills{
            display: flex;
            justify-content: flex-end;
            column-gap: 0;
        }
        &__skill{
            grid-template-columns: 50px 132px;
            &_text{
                font-size: 10px;
            }
        }
    }
    .education{
        &__items{
            grid-template-columns: repeat(1,300px);
            justify-content: center;
            row-gap: 30px;
        }
    }
    .percent{
        &__items{
            grid-template-columns: repeat(auto-fit, 250px);
        }
    }
    .price{
        &__blocks{
            grid-template-columns: repeat(1, 400px);
            padding: 0;
            justify-content: center;
            row-gap: 150px;
        }
    }
    .contacts{
        padding-top: 0;
    }
}
@media (max-width: 576px){
    .container{
        width: 100%;
        padding: 0 10px; 
    }
    .promo{
        background: url(../img/main_bg.jpg) no-repeat 55%/cover;
        h1{
            font-size: 26px;
            line-height: 39px;
            width: 275px;
        }
        &__btns{
            flex-direction: column;
            align-items: flex-start;
            position: relative;
        }
        &__link{
            margin-bottom: 10px;
        }
        #promolink{
            position: absolute;
            top: 65px;
            left: 31px;
        }
        .hamburger{
            top: 10px;
            right: 10px;
        }
    }
    .menu{
        &__close{
            top: 10px;
            right: 25px;
            span{
                height: 30px;
            }
        }
        &__list{
            padding: 100px 54px 50px 70px;
        }
        &__link{
            font-size: 18px;
        }
    }
    .about{
        &__wraper{
            grid-template-columns: 300px;
            justify-content: center;
        }
        &__title{
            text-align: center;
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__subtitle{
            text-align: center;
        }
        .divider{
            margin: 0 auto;
           
        }
        &__skills{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 10px;
        }
        &__skill{
            grid-template-columns: 60px 230px;
            &_text{
                font-size: 12px;
            }
        }
        &__text{
            font-size: 14px;
        }
    }
    .education{
        margin-top: 40px;
        &__title{
            font-size: 24px;
        }
        .divider{
            margin-top: 15px;
        }
        &__items{
            margin-top: 40px;
            grid-template-columns: repeat(1,200px);
            
        }
        &__block{
            &_header{
                width: 225px;
            }
            &_title{
                font-size: 12px;
            }
            &_text{
                width: 220px;
            }
        }
    }
    .skills{
        padding-top: 40px;
        &__subtitle{
            font-size: 16px;
        }
        &__title{
            font-size: 24px;
            line-height: 36px;
            margin-top: 20px;
        }
        .divider{
            margin-top: 15px;
        }
        &__items{
            margin-top: 20px;
        }
    }
    .percent{
        margin-top: 48px;
    }
    .works{
        padding-top: 40px;
        &__title{
            font-size: 24px;
            line-height: 36px;
            margin-top: 20px;
        }
        .divider{
            margin-top: 15px;
        }
        &__items{
            margin-top: 40px;
        }
    }
    .price{
        &__blocks{
            margin-top: 20px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .contacts{
        padding-bottom: 30px;
        &__wrapper{
            grid-template-columns: 300px;
            column-gap: unset;
        }
        &__block{
            &_title{
                font-size: 24px;
                line-height: 36px;
            }
            .divider{
                margin-top: 15px;
            }
            &_form{
                display: grid;
                grid-template-columns: 300px;
                column-gap: unset;
                grid-template-rows: 45px 45px 143px 101px;
                row-gap: 24px;
            }
            &_textarea{
                grid-column: unset;
            }
            &_footer{
                grid-template-columns: unset;
            }
            &_btn{
                margin: 0 auto;
            }
        }   
    }
}